*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
@media only screen  and (max-width: 1029.33px) {
    .Section_Wrapper{
        width: 80%;
        min-height: fit-content;
    }
    .Content{
        width: 85%;

    }
}

@media only screen  and (max-width: 980px) {
    .TextTitle{
        min-height: fit-content;
        h2
        {
            font-size: 25px;
        }
    }
}

@media only screen  and (max-width: 950px) {
    .FulltimeCurrency{
       font-size: 36px
    }
}

@media only screen and (max-width: 900px) {
   .animate{
       width: 40px;
       height: 40px;
   }
    .loader{
        gap: 20px;
    }
}

@media only screen  and (max-width: 880px) {
    .FulltimeCurrency{
        font-size: 30px;
    }

    .Main_Content{
        padding: 30px;
        /*border: 2px solid white;*/
    }
}

@media only screen  and (max-width: 850px) {
.TextTitle{
    h2{
        font-size: 20px;
    }

}
}

@media only screen and (max-width: 800px) {
    .Footer_Wrapper{
        font-size: 1.2em;
    }
}
@media only screen  and (max-width: 768px) {
    body::-webkit-scrollbar {
        display: none;

    }
}

@media only screen  and (max-width: 750px) {
    .FulltimeCurrency{
        font-size: 30px;
    }
    .header_Wrapper{
        padding: .8rem 0;
    }
}

@media only screen  and (max-width: 700px) {
    .Main_Content{
        padding: 10px;
        /*border: 2px solid white;*/
        min-height: fit-content;
    }
   
.Price_Coin_Container{
    flex-direction: column;
    /*border: 2px solid yellow;*/
    min-height: fit-content;

}
    .Price{
        flex: 50px 0 0;
        width: 95% !important;
    }
    .Currency{
        width: 95% !important;
        flex: 50px 0 0;
    }

    .to{
        width: 95% !important;
        height: 100% !important;
    }

    .Currencies{
        flex: 50px 0 0;
        /*border: 2px solid red;*/
    }

    .buttonContainer{
        flex: 45px 0 0;
        /*border: 2px solid red;*/

        .convert_BTN{
            width: 80%;
            height: 100% !important;
        }
    }

    .Answer{
        flex: 52px 0 0;
    }

    .Section_Wrapper{
       gap: 10px !important;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .ConvertHere_Wrapper{
        height: 50px;
        flex: 50px 0 0 !important;
    }
    .TextTitle{
        flex: 0 0 60px;
    }

    .FulltimeCurrency{
        font-size: 28px;
    }


}

@media only screen  and (max-width: 650px) {
    .FulltimeCurrency{
        width: 85%;
        /*border: 2px solid white !important;*/
        font-size: 30px;
    }

    .Main_Content{
        padding: 1rem .8rem !important;
    }
    .container{
        margin-top: 160px !important;
    }

}
@media only screen  and (max-width: 600px) {
    .container{
        /*margin-top: 210px !important;*/
    }

        .animate{
            width: 35px;
            height: 35px;
        }
        .loader{
            gap: 15px;
        }

}
@media only screen  and (max-width: 599px) {
    .container{
        margin-top: 150px !important;
    }
}

@media only screen and (max-width: 550px) {
    .Section_Wrapper{
        width: 90% !important;
    }

}
@media only screen  and (max-width: 515px) {

        .animate{
            width: 35px;
            height: 35px;
            font-size: .8em;
        }
        .loader{
            gap: 10px;
        }

}
@media only screen  and (max-width: 480px) {

    .animate{
        width: 32px;
        height: 32px;
        font-size: .8em;
    }
    .loader{
        gap: 5px;
    }

}





@media only screen and (max-width: 460px){
    .Main_Ans{
        font-size:1em;
    }
    .convert_BTN{
        font-size: 1em !important;
        font-weight: 600;
    }

    .Answer{
        flex: 43px 0 0;
    }
}
@media only screen and (max-width: 420px){
    .ConvertHere_Wrapper{
        font-size: .9em !important;
        flex: 48px 0 0 !important;
    }
    .Price{
        flex: 47px 0 0;
        width: 95% !important;
    }
    .Currency{
        width: 95% !important;
        flex: 47px 0 0;
    }

    .to{
        width: 95% !important;
        height: 100% !important;
    }

    .Currencies{
        flex: 47px 0 0;
        /*border: 2px solid red;*/
    }
    .buttonContainer{
        flex: 40px 0 0;
    }
}

@media only screen and (max-width: 400px) {
    .Main_Content{
        padding: .4rem .8rem !important;
    }
    .Footer_Wrapper{
        font-size: 1em !important;
    }

        .animate{
            width: 30px;
            height: 30px;
            font-size: .8em;
        }
        .loader{
            gap: 5px;
        }


}
@media only screen  and (max-width: 380px) {
    .FulltimeCurrency{
        width: 100% !important;
        font-size: 25px;

    }
    .animate{
        width: 28px;
        height: 28px;
        font-size: .7em;
    }
    .loader{
        gap: 5px;
    }
    .header_Wrapper{
        height: 13%;
        flex: 13% 0 0;
    }
    .container{
        margin-top: 130px !important;
        height: 65% !important;
        flex: 65% 0 0 !important;

    }

}
@media only screen and (max-width: 360px) {
    .buttonContainer{
        flex: 38px 0 0;
        /*border: 2px solid red;*/
    }

    .ConvertHere_Wrapper{
        font-size: .7em !important;
        flex: 45px 0 0 !important;
    }
    .TextTitle{
        flex: 0 0 65px;
        /*border: 2px silver solid;*/
    }
}

@media only screen and (max-width: 320px) {
    .TextTitle{
        min-height: fit-content;
        h2
        {
            font-size: 18px;
        }
    }


    .animate{
        width: 25px;
        height: 25px;
        font-size: .7em;
    }
    .loader{
        gap: 3px;
    }
}