*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
@media only screen and (max-width: 1029.33px) {




}

@media only screen and (max-width: 1000px) {
    .FulltimeCurrency{
        font-size: 2.2rem !important;

    }

    .TextTitle{
        h2{
            font-size: 1.2rem !important;
        }
    }


}
@media only screen and (max-width: 900px) {
    .Section_Wrapper {
        /*min-height: 70%;*/
    }
}


@media only screen and (max-width: 855px) {
    .TextTitle{
        h2{
            font-size: 1.2rem !important;
        }
    }
    .FulltimeCurrency{
        font-size: 1.8rem !important;
    }
    .Price_Coin_Container{
       flex-direction: column;
        height: 50% !important;
    }
    .Price_Coin_Container {
        .Price {
            width: 100% !important;
            /*border: 2px solid red;*/
        }

        .Currency {
            height: 100%;
            width: 100% !important;

        }
    }
}

@media only screen and (max-width: 770px) {
.Price_Coin_Container{
    flex-direction: column;
    gap: 10px;
    height: 65% !important;
    margin: 10px auto !important;
}
.Currencies{
    /*height: 150px !important;*/
    height: 30% !important;
}

.convert_BTN{
    height: 65px !important;
    margin: 15px auto !important;
}

}

@media only screen and (max-width: 768px) {
    .Answer{
        width: 100% !important;
        height: 15%;
    }
    .convert_BTN{

        margin: 15px auto !important;
    }
}
@media only screen and (max-width: 700px) {
    .convert_BTN{
        height: 60px !important;
        margin: 10px auto !important;
    }
}
@media only screen and (max-width: 690px) {
    .FulltimeCurrency{
        font-size: 1.5rem !important;
        padding: 8px;
    }
}

@media only screen and (max-width: 630px) {
        .Answer{
            font-size: 1rem !important;
        }


}

@media only screen and (max-width: 580px) {
    .Answer{
        font-size: 0.99rem !important;
        width: 100% !important;

    }


    .convert_BTN{
        /*height: 70px !important;*/
        margin: 15px auto !important;
    }
    .Section_Wrapper{
        width: 82%;
        /*height: 450px;*/
        position: relative;
        top: 30px;

    }

    .Content{
        /*border: 2px solid red;*/
        width: 85%;
    }

    .Main_Content{
        padding: 1.3em 1.1rem !important;

    }
}

@media only screen and (max-width: 550px) {
    .FulltimeCurrency{
        font-size: 1.2rem !important;
        padding: 8px;
    }
    .Content{
        h1{
            font-size: 1.2rem !important;
        }
    }

    .convert_BTN{
        padding: .1em 1.1rem !important;
        font-size: 1rem !important;
    }
}

@media only screen and (max-width: 400px) {
    .Section_Wrapper {
        width: 90%;
        position: relative;
        top: 30px;
    }

    .TextTitle{

        padding: 10px;
        h2{
            font-size: .8em !important;

        }
    }

}

@media only screen and (max-width: 360px) {
    .Section_Wrapper {
        width: 95% !important;
        /*border: 2px solid red !important;*/
    }
    .Content{
        width: 90%;
        /*border: 2px solid red !important;*/
    }

}